{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {% block content %}

<style type="text/css">
    .bgimg {
        background-image: url("../static/photos/refresh-my-heart-in-christ-vjq6k4mz-884b8f7af4b0a966b54b6816140570cb.jpg");
        width: 1845px;
        height: 600px;
    }
    
    h1,
    h3 {
        text-align: center;
        color: black;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 150px;
    }
    
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Remove extra left and right margins, due to padding */
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: #CBC5BB;
    }
</style>


<div class="bgimg">
    <h1>{{ quotes.quote }}</h1>
    <h3>{{ quotes.author }}</h3>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">

            {{wtf.quick_form(SubscriptionForm)}}

        </div>
        <div class="col-md-2"></div>
    </div>
</div>



{% for post in posts %}

<div class="col">
    <div class="col-lg-12">
        <div class="card">
            <h3 class="card-header"><a href="/post/{{ post.id }}">{{ post.topic }}</a></h3>
            <p class="card-body">{{ post.content }}</p>
            <p class="card-footer">{{ post.posted_on}}</p>
        </div>
    </div>

</div>


{% endfor %}




<!-- <table class="table" align="center">
    <thead>

        <th>
            <h1>posts</h1>
        </th>


    </thead>
    {% for post in posts %}
    <tr>
        <td>
            <h3><a href="/post/{{ post.id }}">{{ post.topic }}</a></h3>
        </td>
    </tr>
    <tr>
        <td>{{ post.content }}</td>
    </tr>
    <tr>
        <td>{{ post.posted_on}}</td>
    </tr>
    <div class="col">
        <div class="col-lg-4">
            <div class="card">
                <h3 class="card-header"><a href="/post/{{ post.id }}">{{ post.topic }}</a></h3>
                <p class="card-body">{{ post.content }}</p>
                <p class="card-footer">{{ post.posted_on}}</p>
            </div>
        </div>

    </div>


    {% endfor %}
</table> -->

<!-- </div> -->


{% endblock %}